body{
    font-family: Helvetica, Arial, sans-serif;
}

.container{
    margin: 10px;
}

.description{
    font-size: 0.9rem;
}

/** Graph specific **/
.graph{
    float: left;
    height: 640px;
    padding: 0 15px;
    position: relative;
}

#field_of_view, #fwhm{
    width: 45.7px; /* videoWidth/70 * FWHM */
    left: 296.14px;/*(videoWidth - width)/2 - 1 */
    position: absolute;
}

#field_of_view{
    height: 100%;
    border: 1px solid white;
}
#fwhm{
    height: 45.7px; /* videoWidth/70 * FWHM */
    top: 296.14px;/*(videoWidth - width)/2 - 1 */
    -webkit-border-radius: 22.85px;
    -moz-border-radius: 22.85px;
    border-radius: 22.85px;
    border: 1px solid red;
}

#field_of_view3, #fwhm3{
    width: 137.1px; /* videoWidth/70 * FWHM*3 */
    left: 250.45px;/*(videoWidth - width)/2 - 1 */
    position: absolute;
}

#field_of_view3{
    height: 100%;
    border: 1px dashed white;
}
#fwhm3{
    height: 137.1px; /* videoWidth/70 * FWHM*3 */
    top: 250.45px;/*(videoWidth - width)/2 - 1 */
    -webkit-border-radius: 68.55px;
    -moz-border-radius: 68.55px;
    border-radius: 68.55px;
    border: 1px dashed red;
}


#myvideo{
    position: absolute;
    left: 0;
}
#moving-graph{
    /*-webkit-transition: transform linear 0.2s; /* Safari */
    transition: transform linear 0.20s;
    transform: translateY(10px);
}

.vjs-poster{
    background-color: #fff;
    z-index: 1;
}
.vjs-big-play-button{
    z-index: 2;
}
